.contenedor{
    background-color: rgba(0, 0, 0, 0.7);
    border: 4px outset rgba(133, 132, 132, 0.7);
    height: 3em;
    width: 55em;
    border-radius: 10px;
    display: block;
    margin: auto;

}

.divSearchBar{
    display: flex;
    padding-top: .677em;
    flex-direction: row-reverse;
    justify-content: center;
}

.link, button{
    margin-left: 5px;
}

.link{
    text-decoration: none;
    color: aliceblue;
}

.logout{
    margin-left: 4em;
}


